# exclude every file
*

# now allow files for the package management
!go.mod
!go.sum

# now only allow *.go files
!*.go

# now allow the folders containing the .go files
!config
!globals
!middleware
!types
!types/**
!routes

# now allow the file containing the sql queries for this project
!queries.sql
!init.sql
!errors.json

# now allow the docker related files
!Dockerfile
!.dockerignore

# now allow some documentation files
!README.md
!openapi.yaml
!LICENSE

# now some misc folders
!.github
!images